@import url('https://fonts.googleapis.com/css?family=Roboto|Slabo+27px');




body {
    font-family: 'Roboto', sans-serif;
    font-weight: light;
}

a, a:link, a:active {
    color: #e72d8e;
    text-decoration: none;

}

a:hover {
   transition:color 1s ease-in;
   border-bottom: 1px solid #333;
   margin-bottom:-1px;

}
.list-inline {
    text-align: center
}

.navbar {
    background-color:#111;
}

.navbar a {
    color: #eee;
    font-size: 150%;    
    text-transform: uppercase;
    font-size: 80%;
    letter-spacing: 2px;
}
.navbar a:hover {
    color: #02acae;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    margin: 5px;
    color: 
}

.left-nav {
    margin: 10px;
}

.left-nav a {
    text-decoration: none;
}


.row {
    padding: 20px;
}

.lead {
    display: inline-block;
    vertical-align: middle;
    min-height: 80%;
    padding: 20px;
    margin-top: 10px;
}

.one {
    background-image: url(../img/code.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center center; 

  }

  .one .col {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      /* Black background with 0.5 opacity */
        height: 100vh;
        margin-left: -20px;
        margin-top: -20px;
  }

.one h1 {
    margin: auto;
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -57px;
    color: #fff;
    text-shadow: 12px 01px 11px #000;

}

.two {
    background: #e1dcd8;
    min-height: 100%;
    text-align: left;
    vertical-align: middle;
}

.two img {
    max-width: 150px;
    border-radius: 75px;
    text-align: center;
    padding: 5%;
}

@media only screen and (min-width: 768px) {
    .two .lead {
        background-color: #a7136c;
        color: #eee;
    }
}

@media only screen and (min-width: 50px) and (max-width: 768px) {
    .usr-img {
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    .two .lead {
        background:#a7136c;
        padding: 30px;
        color: #eee;
    }
}


.modal-body {
    background: #111;
}

.three {
    background: transparent;
}

.three img {
    max-width: 80%;
    padding: 20px;
}

.languages {
    background:#f9f9f9;
}

.languages ul {

    font-size: 300%;
    text-align: center;
    margin: -10px;
    color: #999;

}

.footer {
    background: #111;
    padding: 50px;
    font-size: 13px;
    text-transform: uppercase;
}

.footer ul,li {
    display: inline;
    margin: 10px;
}

.credit {
    padding-bottom: 5px;
}
