@import url('https://fonts.googleapis.com/css?family=Roboto');


body {
    font-family: 'Roboto', sans-serif;
    font-weight: light;
}

.nav {
    background: red;
}


.row {
    padding: 20px;
}




.lead {
    display: inline-block;
    vertical-align: middle;
    min-height: 80%;
    padding: 20px;

}

.one {

    /* background-image: url(header-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh;
    background-position: center center;  */
    height: 100vh;
    background: black;

}

.one h1 {
    margin: auto;
}

.two {
    background: pink;
    min-height: 30%;
    text-align: left;
    vertical-align: middle;
}

.two img {
    max-width: 150px;
    border-radius: 75px;
}

@media only screen and (min-width: 768px) {
    .two {
        background-color: green;
    }
    .two .lead {
        background:orange;
        /* padding: 30px; */
    }

}

/* @media only screen and (max-width: 800px) {
    .two .lead {
        background: red;
        padding: 30px;

    }
} */

@media only screen and (min-width: 50px) and (max-width: 768px) {

    .usr-img {
        display: block;
        margin: auto;
        margin-bottom: 20px;
    }
    .two .lead {
        background:orange;
        padding: 30px;
    }
}


.three {
    background:red;
    /* min-height: 100vh; */
}

.languages {
    background: aqua;
}


.footer {
    background: #111;
    padding: 50px;
}
